[Unit]
Description=rclone

[Service]
Type=oneshot
ExecStart=/home/jonah/.local/bin/sync_google_drive.sh
User=jonah

[Install]
WantedBy=multi-user.target
